@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');


#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  

  .home {
    display: flex;
    flex-direction: column;
    height: 400px;
  

    .principal {
      display: flex;
      flex:1;
      .home-titulo {
        color:rgb(20,20,20);
        font-size: 8rem;
        padding-right: 1rem;
        border-right: 2px solid red;
        text-align: right;
        font-family: 'Francois One', sans-serif;
      }

      .home-menu {
        a {
          text-decoration: none;
          display: block;
          color:rgb(20,20,20);
          padding: 0.7rem;
          font-size: 2.3rem;

        &:hover {
        text-shadow: 0 0 2px #222222;
        }
      }
    }
    }
    
    .tags-menu {
      display: flex;
      justify-content:center;
      margin-top: 5rem;
      a {
        text-decoration: none;
        color:rgb(20,20,20);
        font-size: 2rem;
        padding-right: 2rem;

      &:hover {
        text-shadow: 0 0 2px #222222;
      }
    }
    }
  }

  .right-image {
    height: 400px;

  }

}

